In [10]:
# #What is a correct way to declare a Python variable?

# var x = 5
# #x = 5
# $x = 5
# x = 5

In [ ]:
#What is a correct syntax to print a string in upper case letters?

'Welcome'.upper()
'Welcome'.toUpper()
'Welcome'.toUpperCase()

In [15]:
#Return the string without any whitespace at the beginning or the end.


txt = "       Hello World "
x=txt.strip()
print(x)

Hello World

In [18]:
#Convert the value of txt to upper case.


txt = "Hello World"
txt_u= txt.upper()
print(txt_u)

HELLO WORLD

In [3]:
#Convert the value of txt to lower case.


txt = "Hello World"
txt.lower()

'hello world'

In [6]:
#Replace the character H with a J.


txt = "Hello World"
txt.replace("H", "J")

'Jello World'

In [ ]:
#What is a correct syntax to merge variable x and y into variable z?

z = x, y
z = x = y
z = x + y

In [19]:
#What will be the result of the following code:
x = 'Welcome'
y = 'Coders'
print(x + y)

WelcomeCoders


The append() function in Python is used to add a single element to the end of a list. It modifies the original list in place.

In [21]:
# list.append(element)

In [22]:
my_list = [1, 2, 3]
print("Original list:", my_list)  # Output: [1, 2, 3]

# Append an element to the list
my_list.append(4)

print("Updated list:", my_list)   # Output: [1, 2, 3, 4]

Original list: [1, 2, 3]
Updated list: [1, 2, 3, 4]

In [23]:
my_list = [1, 2, 3]

# Append another list
my_list.append([4, 5])

print("Updated list:", my_list)  # Output: [1, 2, 3, [4, 5]]

Updated list: [1, 2, 3, [4, 5]]

 del[a : b] :- This method deletes all the elements in range starting from index ‘a’ till ‘b’ mentioned in arguments.

 pop() :- This method deletes the element at the position mentioned in its arguments.

In [7]:
x = 10
print(x)  # Output: 10

del x  # Deletes the variable x

# print(x)  # This would raise an error since x is deleted

10

In [24]:
my_list = [1, 2, 3, 4, 5]
print(my_list)  # Output: [1, 2, 3, 4, 5]

del my_list[2]  # Deletes the item at index 2 (the number 3)

print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [25]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

del my_dict['b']  # Deletes the key 'b'

print(my_dict)  # Output: {'a': 1, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}

In [26]:
my_list = [10, 20, 30, 40, 50]

# Removing the last element
popped_item = my_list.pop()
print("Popped item:", popped_item)  # Output: 50
print("Updated list:", my_list)     # Output: [10, 20, 30, 40]

# Removing an element at a specific index (e.g., index 2)
popped_item = my_list.pop(2)
print("Popped item:", popped_item)  # Output: 30
print("Updated list:", my_list)     # Output: [10, 20, 40]

Popped item: 50
Updated list: [10, 20, 30, 40]
Popped item: 30
Updated list: [10, 20, 40]

In [27]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Removing a key-value pair (e.g., key 'b')
popped_value = my_dict.pop('b')
print("Popped value:", popped_value)  # Output: 2
print("Updated dictionary:", my_dict) # Output: {'a': 1, 'c': 3}

# You can also provide a default value if the key doesn't exist
popped_value = my_dict.pop('d', 'Key not found')
print(popped_value)  # Output: 'Key not found'

Popped value: 2
Updated dictionary: {'a': 1, 'c': 3}
Key not found

In [28]:
# Python code to demonstrate the working of
# del and pop()

# initializing list
lis = [2, 1, 3, 5, 4, 3, 8]

# using del to delete elements from pos. 2 to 5
# deletes 3,5,4
del lis[2 : 5]

# displaying list after deleting
print ("List elements after deleting are : ",end="")
for i in range(0, len(lis)):
	print(lis[i], end=" ")

print("\r")

# using pop() to delete element at pos 2
# deletes 3
lis.pop(2)

# displaying list after popping
print ("List elements after popping are : ", end="")
for i in range(0, len(lis)):
	print(lis[i], end=" ")

List elements after deleting are : 2 1 3 8
List elements after popping are : 2 1 8

insert(a, x) :- This function inserts an element at the position mentioned in its arguments. It takes 2 arguments, position and element to be added at respective position.

 remove() :- This function is used to delete the first occurrence of number mentioned in its arguments.
 The remove() method in Python is used to remove the first occurrence of a specified value from a list. Here's how it works

In [ ]:
list.insert(index, element)

In [29]:
my_list = [10, 20, 30, 40]
print("Original list:", my_list)  # Output: [10, 20, 30, 40]

# Insert an element at index 2
my_list.insert(2, 25)

print("Updated list:", my_list)   # Output: [10, 20, 25, 30, 40]

Original list: [10, 20, 30, 40]
Updated list: [10, 20, 25, 30, 40]

In [ ]:
list.remove(element)

In [30]:
my_list = [10, 20, 30, 40, 30]
print("Original list:", my_list)  # Output: [10, 20, 30, 40, 30]

# Remove the first occurrence of 30
my_list.remove(30)

print("Updated list:", my_list)   # Output: [10, 20, 40, 30]

Original list: [10, 20, 30, 40, 30]
Updated list: [10, 20, 40, 30]

In [31]:
# Python code to demonstrate the working of
# sort() and reverse()

# initializing list
lis = [2, 1, 3, 5, 3, 8]

# using sort() to sort the list
lis.sort()

# displaying list after sorting
print ("List elements after sorting are : ", end="")
for i in range(0, len(lis)):
	print(lis[i], end=" ")

print("\r")

# using reverse() to reverse the list
lis.reverse()

# displaying list after reversing
print ("List elements after reversing are : ", end="")
for i in range(0, len(lis)):
	print(lis[i], end=" ")

List elements after sorting are : 1 2 3 3 5 8
List elements after reversing are : 8 5 3 3 2 1

sort() :- This function sorts the list in increasing order.

reverse() :- This function reverses the elements of list.

In [32]:
my_list = [40, 10, 30, 20]
print("Original list:", my_list)  # Output: [40, 10, 30, 20]

# Sort the list in ascending order
my_list.sort()

print("Sorted list:", my_list)    # Output: [10, 20, 30, 40]

Original list: [40, 10, 30, 20]
Sorted list: [10, 20, 30, 40]

In [33]:
my_list = [40, 10, 30, 20]

# Sort the list in descending order
my_list.sort(reverse=True)

print("Sorted list (descending):", my_list)  # Output: [40, 30, 20, 10]

Sorted list (descending): [40, 30, 20, 10]

In [34]:
words = ["apple", "banana", "cherry", "date"]

# Sort the list based on the length of each word
words.sort(key=len)

print("Sorted by length:", words)  # Output: ['date', 'apple', 'banana', 'cherry']

Sorted by length: ['date', 'apple', 'banana', 'cherry']

In [ ]:
list.reverse()

In [35]:
my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)  # Output: [1, 2, 3, 4, 5]

# Reverse the list
my_list.reverse()

print("Reversed list:", my_list)  # Output: [5, 4, 3, 2, 1]

Original list: [1, 2, 3, 4, 5]
Reversed list: [5, 4, 3, 2, 1]

In [36]:
# Python code to demonstrate the working of
# sort() and reverse()

# initializing list
lis = [2, 1, 3, 5, 3, 8]

# using sort() to sort the list
lis.sort()

# displaying list after sorting
print ("List elements after sorting are : ", end="")
for i in range(0, len(lis)):
	print(lis[i], end=" ")

print("\r")

# using reverse() to reverse the list
lis.reverse()

# displaying list after reversing
print ("List elements after reversing are : ", end="")
for i in range(0, len(lis)):
	print(lis[i], end=" ")

List elements after sorting are : 1 2 3 3 5 8
List elements after reversing are : 8 5 3 3 2 1

extend(b) :- This function is used to extend the list with the elements present in another list. This function takes another list as its argument.
he extend() function in Python is used to extend a list by appending all elements from another iterable (such as a list, tuple, or string) to the end of the original list. Unlike append(), which adds a single element to the list, extend() adds each element from the iterable individually.

iterable: Any iterable (list, tuple, string, etc.) whose elements you want to add to the list.

 clear() :- This function is used to erase all the elements of list. After this operation, list becomes empty.


#

In [38]:
# list.extend(iterable)

In [40]:
my_list = [1, 2, 3]
new_list = [4, 5, 6]

# Extend the list by adding elements from new_list
my_list.extend(new_list)

print("Extended list:", my_list)  # Output: [1, 2, 3, 4, 5, 6]

Extended list: [1, 2, 3, 4, 5, 6]

In [39]:
my_list = [1, 2, 3]

# Extend the list by adding characters from a string
my_list.extend("abc")

print("Extended list:", my_list)  # Output: [1, 2, 3, 'a', 'b', 'c']

Extended list: [1, 2, 3, 'a', 'b', 'c']

In [41]:
my_list = [1, 2, 3]
new_tuple = (7, 8, 9)

# Extend the list by adding elements from a tuple
my_list.extend(new_tuple)

print("Extended list:", my_list)  # Output: [1, 2, 3, 7, 8, 9]

Extended list: [1, 2, 3, 7, 8, 9]

In [ ]:
# list.clear()

In [42]:
my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)  # Output: [1, 2, 3, 4, 5]

# Clear all elements from the list
my_list.clear()

print("Cleared list:", my_list)   # Output: []

Original list: [1, 2, 3, 4, 5]
Cleared list: []

1. len() :- This function returns the length of list.

List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] print(len(List)) Output: 10

2. min() :- This function returns the minimum element of list.

List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] print(min(List)) Output: 1.054

3. max() :- This function returns the maximum element of list.

List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] print(max(List)) Output: 5.33

In [ ]:
# Python code to demonstrate the working of
# len(), min() and max()
# initializing list 1
lis = [2, 1, 3, 5, 4]

# using len() to print length of list
print ("The length of list is : ", end="")
print (len(lis))

# using min() to print minimum element of list
print ("The minimum element of list is : ", end="")
print (min(lis))

# using max() to print maximum element of list
print ("The maximum element of list is : ", end="")
print (max(lis))

4. index(ele, beg, end) :- This function returns the index of first occurrence of element after beg and before end.

List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] print(List.index(2)) Output: 1

5. count() :- This function counts the number of occurrences of elements in list.

List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] print(List.count(1)) Output: 4

In [44]:
# Python code to demonstrate the working of
# index() and count()
# initializing list 1
lis = [2, 1, 3, 5, 4, 3]

# using index() to print first occurrence of 3
# prints 5
print ("The first occurrence of 3 after 3rd position is : ", end="")
print (lis.index(3, 3, 6))

# using count() to count number of occurrence of 3
print ("The number of occurrences of 3 is : ", end="")
print (lis.count(3))

The first occurrence of 3 after 3rd position is : 5
The number of occurrences of 3 is : 2